<!-- # File: show_profile.html
# Author: Mohammed Abaherah (abaherah@bu.edu) 14 April 2025
# Description: display page for a single profile -->

{% extends 'finalproject/base.html' %}

{% block content %}

<main class="profile-container">

    <table class="profile-table">
        <tr>
            <td class="profile-image_solo">
                <img src="{{ profile.image_url }}" alt="Profile image of {{ profile.first_name }}">
            </td>

            <td class="profile-info">
                <h1 class="profile-title">{{ profile.first_name }} {{ profile.nick_name}}</h1>
                <h2 class="profile-address">lives at {{ profile.address }}</h2>
                <h2 class="profile-dob">born on {{ profile.dob }}</h2>
                <h2 class="profile-email"> {{ profile.email }}</h2>
                {% if partner %}
                <h2 class="profile-partner">In a relationship with {{ partner.nick_name }}</h2>
                {% endif %}
            </td>
        </tr>
</main>


{% endblock %}




