<!-- # File: show_profile.html
# Author: Mohammed Abaherah (abaherah@bu.edu) 14 April 2025
# Description: display page for a single profile -->

{% extends 'finalproject/base.html' %}

{% block content %}

<main class="profile-container">

    <table class="profile-table">
        <tr>
            <td class="profile-image_solo">
                {% if profile.image and profile.image.name %}
                <img src="{{ profile.image.url }}" alt="Profile image of {{ profile.first_name }}">
            {% else %}
                <img src="{{ MEDIA_URL }}profile_images/default_profile.png" alt="Default profile image">
            {% endif %}
            </td>

            <td class="profile-info">
                <h1 class="profile-title">{{ profile.first_name }} {{ profile.nick_name}}</h1>
                <h2 class="profile-address">lives at {{ profile.address }}</h2>
                <h2 class="profile-dob">born on {{ profile.dob }}</h2>
                <h2 class="profile-email"> {{ profile.email }}</h2>

            </td>
        </tr>

        {% if partner %}
        <h2 class="profile-partner">In a relationship with {{ partner }}</h2>
    {% else %}
        <h2 class="profile-info">
            <p>Currently single.</p>
            <p>You can send an invitation to someone by hovering over their profile!</p>
        </h2>
    {% endif %}

</main>


{% endblock %}




