<!-- # File: show_couple_posts.html
# Author: Mohammed Abaherah (abaherah@bu.edu) 28 April 2025
# Description: display page for all posts by the couple!!! -->


{% extends 'finalproject/base.html' %}
{% block content %}

<h1 class="memories-title">Our Memories Together</h1>

<div class="create-memory-button">
    <a href="{% url 'create_couple_post' %}">Create New Memory</a>
</div>

{% if posts %}
    <div class="memories-feed">
        {% for post in posts %}
            <div class="memory-post">
                {% for image in post.couplepostimage_set.all %}
                    <div class="memory-image-block">
                        <img src="{{ image.image.image.url }}" alt="Memory Image" class="memory-image">
                    </div>
                {% endfor %}
                <p class="memory-caption">{{ post.message }}</p>
                <p class="memory-date">{{ post.time_stamp|date:"F j, Y" }}</p>

                <div class="memory-actions">
                    <a href="{% url 'update_couple_post' post.pk %}" class="memory-action">Edit</a>
                    |
                    <a href="{% url 'delete_couple_post' post.pk %}" class="memory-action">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p style="text-align: center; margin-top: 20px;">You have no memories yet. <a href="{% url 'create_couple_post' %}">Start one now!</a></p>
{% endif %}

{% endblock %}

