<!-- # File: update_couple_post_form.html
# Author: Mohammed Abaherah (abaherah@bu.edu) 28 April 2025
# Description: update page for status form -->

{% extends 'finalproject/base.html' %}

{% block content %}
<div class="center">
<h1>Update Memory</h1>

<h3>Make a change to your memory caption or image!</h3>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <label for="new_image">Upload New Image:</label>
    <input type="file" name="new_image" id="new_image"><br><br>

    <input type="submit" value="Update">
</form>

<form action="{% url 'show_couple_posts' couplepost.couple.pk %}" method="GET">
    {% csrf_token %}
    <input type="submit" value="Cancel">
</form>
</div>
{% endblock %}

