<!-- # File: show_profile.html
# Author: Mohammed Abaherah (abaherah@bu.edu) 20 Feb 2025
# Description: display page for a single profile -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<main class="profile-container">

    <table class="profile-table">
        <tr>
            <td class="profile-image_solo">
                <img src="{{ profile.image_url }}" alt="Profile image of {{ profile.first_name }}">
            </td>

            <td class="profile-info">
                <h1 class="profile-title">{{ profile.first_name }}</h1>
                <h1 class = "profile-title"> {{ profile.last_name }}</h1>
                <h2 class="profile-city">from {{ profile.city }}</h2>
            </td>

            
            
        </tr>
        <tr>
            <td colspan="1" class="profile-email">
                <h3>{{ profile.email }}</h3>
            </td>
        </tr>


        <table class="friends-table">
            <tr>
                <th>Friend</th>
                <th>Profile Picture</th>
            </tr>
            {% for friend in profile.get_friends %}
                <tr>
                    <td>
                        <a href="{% url 'show_profile' pk=friend.pk %}">
                            {{ friend.first_name }} {{ friend.last_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'show_profile' pk=friend.pk %}">
                            <img src="{{ friend.image_url }}" alt="Profile image of {{ friend.first_name }}" class="friend-image">
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No friends to display.</td>
                </tr>
            {% endfor %}
        </table>
        


    </table>
    <a href="{% url 'create_status' pk=profile.pk %}">Create Status</a>
    <a href="{% url 'update_profile' pk=profile.pk %}">Update Profile</a>
    <a href="{% url 'friend_suggestions' pk=profile.pk %}">Friend Suggestions!</a>

    {% for StatusMessage in profile.get_status_messages %}
    <div>
        <h2>{{ StatusMessage.time_stamp }}</h2>
        <p>{{ StatusMessage.message }}</p>
        {% for image in StatusMessage.get_images %}
        <img src="{{ image.image.url }}" alt="{{ image.caption }}" class = "image111">
    {% empty %}
        <p>No images attached.</p>
    {% endfor %}
        <p>
            <a href="{% url 'delete_status' StatusMessage.pk %}" class = "delete_message">Delete </a>
            <a href="{% url 'update_status' StatusMessage.pk %}" class = "update_message">Update </a>
        </p>

    </div>
{% endfor %}




</main>


{% endblock %}
