<!-- # File: show_profile.html
# Author: Mohammed Abaherah (abaherah@bu.edu) 20 Feb 2025
# Description: display page for a single profile -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<main class="profile-container">

    <table class="profile-table">
        <tr>
            <td class="profile-image_solo">
                <img src="{{ profile.image_url }}" alt="Profile image of {{ profile.first_name }}">
            </td>

            <td class="profile-info">
                <h1 class="profile-title">{{ profile.first_name }}</h1>
                <h1 class = "profile-title"> {{ profile.last_name }}</h1>
                <h2 class="profile-city">from {{ profile.city }}</h2>
            </td>

            
            
        </tr>
        <tr>
            <td colspan="1" class="profile-email">
                <h3>{{ profile.email }}</h3>
            </td>
        </tr>

    </table>
    <a href="{% url 'create_status' pk=profile.pk %}">Create a new status</a>

    {% for StatusMessage in profile.get_status_messages %}
    <div>
        <h2>{{ StatusMessage.time_stamp }}</h2>
        <p>{{ StatusMessage.message }}</p>

        {% for image in StatusMessage.get_images %}
            <img src="{{ image.image.url }}" alt="{{ image.caption }}">
        {% empty %}
            <p>No images attached.</p>
        {% endfor %}
    </div>
{% endfor %}




</main>


{% endblock %}
